.noresults {
    display: grid;
    place-items: center;
    gap: 2rem;

    &__description {
        display: grid;
        place-items: center;
        width: 50%;
        height: 120%;
        font-size: 1.2rem;
        background: white;
        box-shadow: -5px 5px 5px rgba(0, 0, 0, .3);

        @media (max-width: 900px) {
            font-size: .545rem;
        }
    }

    &__search {
        width: 50%;
        text-align: center;
    }
}