@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url('./assets/bg-pattern.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.routeContainer {
    position: relative;
}

.routeContainer>* {
    display: block;
}